
.pixel {
  height: 15px;
  width: 15px;
  padding: 0px;
  box-sizing: content-box;
  background-color: white;
}

.color-choice {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: solid black 1px;
}

#main {
  background-color: grey
}



